<!--Header-->
<header class="content">
     <a id="logo-link" href="#!/"><img id="logo" src="../img/just-eat-logo.png" alt="Just Eat Logo"></a>
     <img id="country" src="../img/spanish-flag.png" alt="España" title="Región: España">
</header>

<!--Update User-->
<div class="register-body content">
     <div class="register-body-box">
         <div class="register-body-text">
             <h1>Editar usuario</h1>
 		</div>
       
 		<p class="error-text" data-ng-repeat="error in editUserVM.validationErrors">{{error}}</p>
 		
        <form name="userForm" data-ng-submit="editUserVM.functions.updateUser()">
            <label for="name">Nombre</label>
            <input class="register-form-field" type="text" id="name" name="name" placeholder="Introduce tu nombre" data-ng-pattern="/^[A-Za-záéíóúñÁÉÍÓÚ]{2,}(\s+[A-Za-záéíóúñÁÉÍÓÚ]{2,})*$/" 
            	   data-ng-model="editUserVM.user.name" required>
           	<p class="validation-error" data-ng-show="userForm.name.$error.pattern">El nombre debe contener, al menos, dos letras (mayúsculas o minúsculas), y no debe contener dígitos o caracteres especiales.</p>
    		<p class="validation-error" data-ng-show="userForm.name.$error.required">Debe introducir un nombre válido</p>
    
            <label for="surname">Apellido</label>
            <input class="register-form-field" type="text" id="surname" name="surname" placeholder="Introduce tus apellidos" data-ng-pattern="/^[A-Za-záéíóúñÁÉÍÓÚ]{2,}(\s+[A-Za-záéíóúñÁÉÍÓÚ]{2,})*$/" 
            	   data-ng-model="editUserVM.user.surname" required>
           	<p class="validation-error" data-ng-show="userForm.surname.$error.pattern">El apellido debe contener, al menos, dos letras (mayúsculas o minúsculas), y no debe contener dígitos o caracteres especiales.</p>
    		<p class="validation-error" data-ng-show="userForm.surname.$error.required">Debe introducir un apellido válido</p>
    
            <label for="email">Correo electrónico</label>
            <input class="register-form-field" type="email" id="email" name="email" placeholder="Introduce tu email" data-ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
            	   data-ng-model="editUserVM.user.email" required>
           	<p class="validation-error" data-ng-show="userForm.email.$error.pattern">El formato de email debe contener la siguiente forma: example@domain.com</p>
            <p class="validation-error" data-ng-show="userForm.email.$error.required">Debe introducir una dirección de correo electrónico válida</p>
            
            <label for="password">Contraseña</label>
            <input class="register-form-field" type="password" id="password" name="password" placeholder="Introduce tu contraseña" data-ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/" 
            	   data-ng-model="editUserVM.user.password" required>
            <p class="notes">La contraseña debe contener 8 dígitos entre los que se debe incluir como mínimo un número, una mayúscula, una minúscula y un carcácter especial.</p>
            <p class="validation-error" data-ng-show="userForm.password.$error.pattern">El formato de la contraseña no es correcto, asegure que cumple con el mostrado en el párrafo anterior.</p>
            <p class="validation-error" data-ng-show="userForm.password.$error.required">Debe introducir una contraseña válida</p> 
                
            <input id="register-form-submit" type="submit" value="Confirmar cambios" data-ng-disabled="userForm.$invalid">
        </form>

    </div>
</div>