<header class="content">
    <div>
    	<a id="logo-link" href="#!/"><img id="logo" src="../img/just-eat-logo-white.png" alt="Just Eat Logo"></a>
     	<img id="country" src="../img/spanish-flag.png" alt="España" title="Región: España">
	</div>
</header>
	
<div class="content">
	<form data-ng-submit="dishHandlerVM.functions.dishHandlerSwitcher()">
		<fieldset class="box-shadow">
       
            <legend data-ng-show="dishHandlerVM.functions.where('/insertDish/'+dishHandlerVM.restaurant.id)">Nuevo plato</legend>         
            <legend data-ng-show="dishHandlerVM.functions.where('/editDish/'+dishHandlerVM.dish.id)">Editar "{{dishHandlerVM.dishFixedName}}"</legend>
   			
   			<p class="error-text" data-ng-repeat="error in dishHandlerVM.validationErrors">{{error}}</p>
												     			
			<label for="name">Nombre</label> 
			<input type="text" id="name" name="name" placeholder="Nombre del plato"	data-ng-model="dishHandlerVM.dish.name" required> 
			
			<label for="description">Descripción</label>
			<textarea name="description" id="description" cols="10" rows="3" data-ng-model="dishHandlerVM.dish.description" placeholder="Describe aquí el plato" required></textarea>

			<label for="price">Precio</label> 
			<input type="number" min="0" max="100" step="0.01" name="price" id="price" data-ng-model="dishHandlerVM.dish.price" required>

			<input data-ng-show="dishHandlerVM.functions.where('/insertDish/'+dishHandlerVM.restaurant.id)" type="submit" value="Añadir plato">
            <input data-ng-show="dishHandlerVM.functions.where('/editDish/'+dishHandlerVM.dish.id)" type="submit" value="Confirmar cambios">
		</fieldset>
	</form>
</div>